body {
    background-color: coral;
    padding-top: 30px;
    font-weight: 600;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0ffff;
    background-color: rgba(240, 255, 255, 0.7);
}

.font-bordered {
    color: #ffffff;
    -ms-text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

.img-content {
    height: 50px;
    border-radius: 60%;
    display: block;
    margin: 0 auto;
}

.fixed-cell {
    width: 200px;
}

.total-panel {
    width: 380px;
}

.no-shadow {
    text-shadow: none;
}

.selected {
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 0.44);
}

.ZenboxTabLeft {
    position: fixed;
    top: 30%;
    left: 0;
    width: 80px;
}

.glass {
    opacity: 0.8;
}
